@use "../abstracts/" as *;
.about{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    &__container{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px); 
        background-color: rgba(255, 255, 255, 0); 
        //padding: 20px;
        
        
       

    }
    &__image{
width: 30rem;
filter: brightness(0.9);
//filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
    }
    &__whatido{
       margin-bottom: 1rem;
    
    }
    &__text{
      
font-size: 1.5rem;
&:hover{
    //color:#1e90ff ;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
    }
    &__skills{
        margin-top: 4rem;
        font-size: 1.5rem;
        &-text{
            margin-bottom: 1rem;
        
}

    }

    &__fullstack-container{
       margin-top: 4rem;
        font-size: 1.5rem;
        &-text{
            margin-bottom: 1rem;
        }
    }
}