@use "../abstracts/" as *;

ul{
   display: flex;
    justify-content: end;
    margin-right: 5rem;
    padding-top: 0.3rem;

    align-items: center;
    list-style: none;
    
}
li{
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;
   
    cursor: pointer;
    transition: color 0.3s;
   
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
.theme-light {
   
    color: #000;

    a {
        color: #000;
    }

    .active {
        color: #007bff;
    }
}

.theme-dark {
   
    color: #fff;

    a {
        color: #fff;
    }

    .active {
        color: #1e90ff;
    }
}


