@use "../abstracts/" as *;

.project{
   
    margin-top: 6rem;
&__container{
  
    &-1{}
    &-2{}
    &-3{}
    &-4{}

}
&__image{
    margin-top: 2rem;
    width: 18rem;
    filter: brightness(0.9);
    transition: transform 0.5s linear;
    
    @media (min-width: $breakpoint-md) {
        width: 25rem;
        &:hover{
          

        }
        @media (min-width: $breakpoint-lg) {
            width: 35rem;
        }
    }}

    &__button-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 2rem;
        @media (min-width: $breakpoint-sm) {
    
          flex-direction: row;
          justify-content: center;
          margin-top: 2rem;
          gap: 3rem;
          
        }
    }
    &__button{
       
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height:3.5rem;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        
       
        
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 1.5rem;
        @media (min-width: $breakpoint-md) {
    
          font-size: 2rem;
          height:4rem;
        }
        
      
        
        &:hover {
          box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
          transform: translateY(-2px);
        }
        
        &:focus  {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    &:active {
    
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
      }
    
    }}


