.App {
  text-align: center;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.light{
  color: black;
  width: 2rem;
  height: 2rem;
}
.dark{
  
  color:rgb(255, 255, 255);
  width: 2rem;
  height: 2rem;
  
}
.dark-lightmode{
  position: absolute;
  right: 2rem;

}


